h2 {
    color: var(--darkBlue);
    font-size: 1.25rem;
    font-weight: 700;
}

.productList {
    max-width: 1200px;
     width: 100%;
    margin: 94px auto 140px;
    padding: 0 24px;
    overflow: hidden;
}
.productList h2 {
    margin-bottom: 16px;
}

.productSearchWrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
}
.productSearchArea {
    display: flex;
    align-items: center;
    gap: 0 12px;
}
.productSearch {
    display: flex;
    align-items: center;
    gap: 0 12px;
}
.productSearch div {
    display: flex;
    align-items: center;
    width: 325px;
    height: 42px;
    border-radius: 12px;
    background-color: var(--lightGray100);
    padding: 9px 0 9px 16px;
}
.productSearch div input {
    padding-left: 4px;
    border: 0;
    background: none;
}
.productSearch div input ::placeholder {
    color: var(--gray);
    font-size: 1rem;
}
.productSearch a {
    line-height: 26px;
    color: var(--white);
    font-weight: 600;
    padding: 8px 23px;
    border-radius: 8px;
    background-color: var(--blue);
}
.productSearch select {
    width: 130px;
    height: 42px;
    border: 1px solid var(--lightGray300);
}
.productList .productCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 24px;
}

.productList .productCard li > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 16px;
    background-color: var(--lightGray200);
}
.pageNation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 4px;
    margin-top: 43px;
}
.pageNationNum {
    width: 40px;
    height: 40px;
    color: var(--lightGray400);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50%;
    border: 1px solid var(--lightGray300);
}

/* 태블릿 ~ 모바일 (1199px 이하) */
@media (max-width: 1199px) {

    .productList .productCard {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 모바일 (745px 이하) */
@media (max-width: 745px) {

    .productList .productCard {
        grid-template-columns: repeat(2, 1fr);
    }
}
